.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-username{
    opacity: .6;
}

.tw-followCard-img{
    width: 48px;
    height: 48px;
    border-radius: 9999px;
}

.tw-followCard-button{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 8px 16px;
    font-weight: bold;
}

.tw-followCard-button.is-following{
    border: 1px solid red;
    background: red;
    color: #fff;
}

.tw-followCard-button:hover{
    background-color: #09f;
    cursor: pointer;
}